<div class="carrouselCard">
    <img src="<%= pathFotos %>/<%= relacionado.img %>" alt="productPhoto">
    <div class="carrouselCardInfo">
        <a href="<%= pathDetail %><%= relacionado[nombreId] %>">
            <h4><%= relacionado.titulo %></h4>
            <p><%= relacionado.descripcion %></p>
        </a>
    </div>
</div>