<div class="ultimosAdicionadosCard">
    <a href="/user/viewuserprofile/<%= dato.id %>"><img
            src="/images/usersAvatars/resizedandcropped/<%= dato.userAvatar %>" alt="FotoRecomendado"></a>
    <div class="recomendadoInfo">
        <a href="/user/viewuserprofile/<%= dato.id %>""><h6 class="
            recomendadoTitulo"><%= dato.nombre + " " + dato.apellido %></h5></a>
        <p class="recomendadoTexto"><%= dato.bio %><p>

    </div>
</div>