<article class="home-card-artist">
    <a href="user/userprofile/<%= dato.id %>"><img src= "/images/usersAvatars/resizedandcropped/<%= dato.userAvatar %>" class="i-home-artist" alt="ClaraNunesUser" /></a>
    <h5><%= dato.nombre + " " + dato.apellido %></h5>
    <h5><%= dato.skills %></h5>
    <p><%= dato.bio %></p>
</article>
     


