<div class="cancionCard">
    <a href="/products/detailSong/<%= cancion.songId %>"><img
            src="/images/MusicFilesCoverImg/resized/<%= cancion.img%>"></a>
    <p class="tituloCancion"><%= cancion.titulo %></p>
    <a href="/user/viewuserprofile/<%= cancion.id %>">
        <p class="artistaCancion"><%= cancion['id_usersdb.nombre']+" "+ cancion['id_usersdb.apellido'] %>
        </p>
        <!-- TODO VER PQ NO FUNCIONA CON LA BD -->
    </a>
</div>