<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="/images/Images/favicon.ico" />

    <!-- Implementando Google fonts (https://fonts.google.com/) -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- GoogleFonts => Copio y pego en el head los links que me da la GFonts, luego de haberlos elegido -->
    <link href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto&display=swap" rel="stylesheet">
    <!-- GoogleFonts => Implementando Roboto + Palette Mosaic -->
    
    <script src="https://kit.fontawesome.com/17d45040ef.js" crossorigin="anonymous"></script>
    <!-- Implementando Font-Awesome -->
    
    
    <link rel="stylesheet" href="/css/normalize.css"> <!-- Implementando Libreria Normalize.css (https://necolas.github.io/normalize.css/) para que el sitio web sea homogeneo en los diferentes navegadores. Desde el sitio, descargo, guardo como la css en la misma carpeta del proyecto y luego la linkeo -->
    <link rel="stylesheet" href="/css/styles.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    <link rel="stylesheet" href="/css/cart2Alex.css">  <!-- Usa esta linea para direccionarla a tu CSS -->

    <title>Document</title>
</head>
<body>
    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbar.ejs', {}) %>

    <main>
        <!--Section para la barra que dice en que parte del pago estas-->
        <section class="cart2Alex-menu">
            <ul class="cart2Alex-menuContainer">
                <li class="cart2Alex-menuOption" id="cart2Alex-menuOption-1"><a href="/cart/cart1">Tu carrito</a></li>
                <li class="cart2Alex-menuOption" id="cart2Alex-menuOption-2"><a href="/cart/cart2">Detalles del envio</a></li>
                <li class="cart2Alex-menuOption" id="cart2Alex-menuOption-3"><a href="/cart/cart3">Opciones de pago</a></li>
            </ul>
        </section>
        <div class="cart2Alex-mainContainer">
            <section class="cart2Alex-detallesEnvio">
                <p>Detalles de envio</p>
                <form>
                    <div class="cart2Alex-detallesEnvioNombre">
                        <input type="text" name="nombre" placeholder="Nombre" class="cart2Alex-detallesEnvioEntradaInput">
                        <input type="text" name="apellido" placeholder="Apellido" class="cart2Alex-detallesEnvioEntradaInput">
                    </div>
                    <div class="cart2Alex-detallesEnvioLocacion">
                        <select name="pais" required class="cart2Alex-detallesEnvioEntradaInput">
                            <% for (const pais of paises) { %>
                                <option value=<%= pais %>><%= pais %></option> 
                            <% } %>
                        </select>
                        <select name="provincia" required class="cart2Alex-detallesEnvioEntradaInput">
                            <% for (const provincia of provincias) { %>
                                <option value=<%= provincia %>><%= provincia %></option> 
                            <% } %>
                        </select>
                    </div>
                    <div class="cart2Alex-detallesEnvioLocalidad">
                        <input type="text" name="ciudad" placeholder="Ciudad" class="cart2Alex-detallesEnvioEntradaInput">
                        <input type="text" name="codigoPostal" placeholder="Codigo postal" class="cart2Alex-detallesEnvioEntradaInput">
                    </div>
                    <input type="text" name="direccion" placeholder="Direccion" id="cart2Alex-cart2Alex-detallesEnvioDireccion" class="cart2Alex-detallesEnvioEntradaInput">
                    <div class="cart2Alex-detallesEnvioPiso">
                        <input type="text" name="piso" placeholder="Piso" class="cart2Alex-detallesEnvioEntradaInput">
                        <input type="text" name="depto" placeholder="Departamento" class="cart2Alex-detallesEnvioEntradaInput">
                    </div>
    
                    <input type="text" name="telefono" placeholder="Numero de telefono" class="cart2Alex-detallesEnvioEntradaInput">
                    <div class="cart2Alex-detallesEnvioBotones">
                        <button type="submit" class="cart2Alex-botonesOpcion">Cancelar</button>
                        <button type="submit" class="cart2Alex-botonesOpcion">Siguiente<i class="fas fa-arrow-right"></i></button>
                    </div>
                </form>
            </section>
            <section class="cart2Alex-resumenCarrito">
                <article class="cart2Alex-datosTotales">
                    <p class="cart2Alex-datosTotalesSubrayado">Totales con envio<p>
                    <p>Subtotal:<span>15000$</span></p>
                    <p class="cart2Alex-datosTotalesSubrayado">Envio:<span>1000$</span></p>
                    <p>Total<span>16000$</span></p>
                </article>
            </section>
    
        </div>
    </main>



        <!-- ======= FOOTER | PIE DE PAGINA ========= -->

        <%- include ('partials/footer.ejs', {}) %>


</body>
</html>