<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Usa esta linea para direccionarla a tu CSS -->


    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbar.ejs', {}) %>

    <!--CONTENIDO-->
    <main class="principal">
        <!--productos-->
        <div class="product-container">
            <div class="productImages">
                <img src="<%= pathFotos %>/<%= producto.img %>" alt="productPhoto">
                <div class="productImagesButtons">
                    <!-- <button><i class="fas fa-upload"><span class="agregarTexto special">Subir cancion</span></i></button>
                    <button><i class="fas fa-image"><span class="agregarTexto special">Cambiar imagen</span></i></button> -->
                </div>
            </div>

            <!-- YT Player // Falta introducir en data-video la identificacion dinamica de cada cancion-->
            <span class="Player-button">
                <div data-video="QwwtcMulGq4" data-autoplay="0" data-loop="1" id="youtube-audio">
                </div>
                <script src="https://www.youtube.com/iframe_api"></script>
                <script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>
            </span>

            <div class="productInformation-container">
                <div class="productInformation">
                    <h2><%= producto.titulo %></h2>
                    <p>By <a href="/user/viewuserprofile/<%= artista.id %>"><%= artista.nombre %>
                            <%= artista.apellido %></a></p>
                    <div class="priceStars">
                        <p><%= producto.precio %> <span class="currency">U$S</span></p>
                        <!-- <i class="fas fa-star"><span class="stars">4.5</span></i> -->
                    </div>
                    <p class="productDescription"><%= producto.descripcion %></p>
                    <button class="agregar"><i class="fas fa-cart-plus"><span class="agregarTexto">Agregar al
                                carrito</span></i></button>
                </div>
                <!-- <div class="editar">
                    <button><i class="fas fa-edit"><span class="agregarTexto">Editar producto</span></i></button>
                </div> -->



                <div class="products-formButtons">
                    <form action=""><button id="products-editarButton" type="submit">Editar</button></form>
                    <form action="/products/<%= rutaDelete %>/<%= producto[nombreId] %>?_method=DELETE" method="POST">
                        <button id="products-eliminarButton" type="submit">Eliminar</button></form>
                </div>




            </div>
        </div>

        <!--productos relacionados, reemplazar por el partial-->
        <div class="related-container">
            <p>Talvez tambien te interese...</p>
            <div class="related-carrousel-container">

                <% relacionados.forEach(function(relacionado) { %>
                <%- include ('partials/cardhorizontalproduct.ejs', {relacionado,pathFotos,pathDetail,nombreId}) %>
                <% }) %>

            </div>
        </div>
    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>

</body>

</html>