<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Usa esta linea para direccionarla a tu CSS -->


    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>

<body>
    <STYLE>
        a {
            text-decoration: none;
        }
    </STYLE>
    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarAlex.ejs', {}) %>

    <!--CONTENIDO-->
    <main class="principal">
        <!--productos-->
        <div class="product-container">
            <div class="productImages">
                <img src="<%= pathFotos %>/<%= producto.img %>" alt="productPhoto">
                <div class="productImagesButtons">
                    <!-- <button><i class="fas fa-upload"><span class="agregarTexto special">Subir cancion</span></i></button>
                    <button><i class="fas fa-image"><span class="agregarTexto special">Cambiar imagen</span></i></button> -->
                </div>
            </div>

            <div class="productInformation-container">
                <div class="productInformation">
                    <h2><%= producto.titulo %></h2>
                    <p>By <a href="/user/viewuserprofile/<%= artista.id %>"><%= artista.nombre %>
                            <%= artista.apellido %></a></p>
                    <div class="priceStars">
                        <p class="productdetail-precio"><%= producto.precio %> <span class="currency">U$S</span></p>
                        <!-- <i class="fas fa-star"><span class="stars">4.5</span></i> -->
                    </div>
                    <p class="productDescription"><%= producto.descripcion %></p>
                    <% if (locals && locals.idusuario != "noLogueado" && locals.idusuario != producto.id) { %>
                        <button id="product-agregarCarritoButton" class="agregar" idProducto="<%= producto.InstrumId %>" tipoProducto="<%= producto.tipoProducto %>">Agregar al carrito</button>
                    <% } %>
                </div>
                <!-- <div class="editar">
                    <button><i class="fas fa-edit"><span class="agregarTexto">Editar producto</span></i></button>
                </div> -->

                <% if (locals && locals.idusuario == artista.id) { %>
                    <div class="products-formButtons">
                        <a href="/products/editinstrument/<%= producto[nombreId] %>/<%= producto.id %>"><button id="products-editarButton"
                                type="submit">Editar</button></a>
                        <form action="/products/<%= rutaDelete %>/<%= producto[nombreId] %>/<%= producto.id %>?_method=DELETE" method="POST">
                            <button id="products-eliminarButton" type="submit">Eliminar</button></form>
                    </div>
                <% } %>
            </div>
        </div>

        <!--productos relacionados, reemplazar por el partial-->
        <div class="details-related-container">
            <p>Tal vez también te interese...</p>
            <div class="related-carrousel-container">

                <% relacionados.forEach(function(relacionado) { %>
                <%- include ('partials/cardhorizontalproduct.ejs', {relacionado,pathFotos,pathDetail,nombreId}) %>
                <% }) %>

            </div>
        </div>
    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>
    <script src="/js/productinstrument.js"></script>

</body>

</html>