<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/stylesAgos.css"> <!-- Usa esta linea para direccionarla a tu CSS -->
    <!-- <link rel="stylesheet" href="/css/stylesDan.css"> -->
    <link rel="stylesheet" href="/css/styles.css">

</head>


<body class="fondo">

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarAlex.ejs', {}) %>



    <!--FORMULARIO-->

    <section class="form-register">
        <form action="/user/register" method="POST" enctype="multipart/form-data">
            <h4>¡Registrate!</h4>
            <div>
                <p class="Registro-Texto-Descriptivo">
                    Para poder publicar y vender tus canciones o instrumentos, debes realizar tu registro en nuestra
                    plataforma. <br>
                    <a href="/user/login" id="tengoCuenta">
                        <h5>Ya tengo cuenta!</h5>
                    </a>
                    Una vez que tu registro sea validado, podrás cargar tus anuncios desde tu perfil de usuario.
                </p>
            </div>

            <div class="items">

                <p>
                    <i class="fas fa-id-badge"><label> Cómo te llamas?</label></i><br>
                    <input class="datos" type="text" name="nombre" id="nombre" placeholder="Ingresá tu nombre"
                        value="<% if (locals.errors && oldData && oldData.nombre){%><%= oldData.nombre %> <% } %>">
                    <!--required -->
                </p>

                <p>
                    <i class="fas fa-id-badge"><label> Y tu apellido es...</label></i><br>
                    <input class="datos" type="text" name="apellido" id="apellido" placeholder="Ingresá tu apellido"
                        value="<% if (locals.errors && oldData && oldData.apellido){%><%= oldData.apellido %> <% } %>">
                    <!--required -->
                </p>

                <p>
                    <i class="fas fa-at"><label> Cuál es tu Email?</label></i><br>
                    <input class="datos" type="email" name="email" id="email"
                        placeholder="Te enviaremos un email para confirmarlo ;-)"
                        value="<% if (locals.errors && oldData && oldData.email){%><%= oldData.email %> <% } %>">
                    <!--required -->
                    </label>
                </p>

                <p>
                    <i class="fas fa-key"><label> Contraseña:</label></i><br>
                    <input class="datos" type="password" name="password" id="password"
                        placeholder="Elegí­ e ingresá tu contraseña">
                    <!--required -->
                </p>

                <p>
                    <i class="fas fa-microphone-alt"><label> Cuáles son tus habilidades musicales?</label></i>
                    <select class="skills-form" name="skills">
                        <% habilidades.forEach(function(skill){ %>
                        <option><%= skill %></option>
                        <% }) %>
                    </select>
                    <i class="fas fa-user-edit"></i>
                </p>

                <p id="register-photoContainer">
                    <i class="fas fa-camera"><label> Foto de perfil:</label></i><br>
                    <img id="register-instrumentPhoto" style="width: 20vw;height:20vh;margin-top: 1vh;display: none;">
                    <label for='userAvatarRegisterButton' class="userAvatarRegisterButton">Cargá una imagen</label>
                    <input class="userAvatarRegisterButton" id="userAvatarRegisterButton" type="file"
                        name="userAvatarRegisterButton"
                        value="<% if (locals.errors && oldData && oldData.userAvatarRegisterButton){%><%= oldData.userAvatarRegisterButton %> <% } %>">
                    <!--required -->
                </p>



                <p>
                    <i class="fas fa-music"><label> Si sos músico, escribí­ tu minibio aquí para destacar entre la
                            multitud</label></i><br>
                    <textarea class="datos" name="minibio" id="minibio" rows="5" maxlength="140"
                        placeholder="Por Ejemplo: Soy guitarrista profesional hace 15 meses. Tengo 4 trabajos publicados y estoy disponible para trabajar en conjunto con otros y crear una banda"
                        value="<% if (locals.errors && oldData && oldData.minibio){%><%= oldData.minibio %> <% } %>"></textarea>
                </p>

                <section class="errores">
                    <div id="register-validator-front" class="validator-errors"></div>

                    <% if (locals.errors) { %>
                    <div class="validator-errors">
                        <% errors.forEach(function(error){ %>
                        <p><i class="fas fa-exclamation" style="color:rgba(255,0,0,0.8)"></i><%= error.msg %></p>
                        <% }); %>
                    </div>
                    <% } %>

                </section>


                <input class="register-button" button type="submit" value="Registrar"></button>
            </div>
        </form>
    </section>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>
    <script src="/js/register.js"></script>
    <script src="../public/funcionesAuxiliares/validaciones.js"></script>

</body>

</html>