<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/stylesDan.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    <link rel="stylesheet" href="/css/stylesAlex.css">  <!-- Usa esta linea para direccionarla a tu CSS -->
    
    <!--<link rel="stylesheet" href="/css/styles.css">  Descomentar esta linea cuando el CSS este compilado -->

</head>

<body>
    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbar.ejs', {}) %>

    <main class="principal">
        <div class="buscador">
            <input class="inputBuscador" type="text" placeholder="Buscar cancion, artista o instrumento">
            <i class="fas fa-search"></i>
        </div>
        <section class="cancionesMasEscuchadas">
            <p class="cabecera">Canciones mas escuchadas</p>
            <div class="cancionesMasEscuchadasContenedor">
                <i class="fas fa-chevron-left"></i>
                <div class="canciones">
                    <% musicos.forEach(function(cancion) { %>
                        <%- include ('partials/cardCancionTienda.ejs', {cancion}) %>
                    <% }) %>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
        </section>

        <section class="instrumentosEnVenta">
            <p class="cabecera">Instrumentos en venta</p>
            <div class="instrumentosEnVentaContenedor">
                <i class="fas fa-chevron-left"></i>
                <div class="instrumentos">
                    <% instrumentos.forEach(function(instrumento) { %>
                        <%- include ('partials/cardInstrumentoTienda.ejs', {instrumento}) %>
                    <% }) %>
                </div>
                <i class="fas fa-chevron-right"></i>
            </div>
        </section>

        <section class="ultimosAdicionados">
            <p class="cabecera">Conoce a los artistas de nuestro catalogo</p>
            <i class="fas fa-chevron-left flechaIzq"></i>
            <div class="ultimosAdicionadosContainer">

                <% datos.forEach(function(dato) { %>
                    <%- include ('partials/cardhorizontaltienda.ejs', {dato}) %>
                <% }) %> 

            </div>
            <i class="fas fa-chevron-right flechaDer"></i>  
        </section>
    </main>
    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>

</body>
</html>