<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarlogada.ejs', {}) %>


    <!-- ======= BODY | CUERPO DEL USERPROFILE ========= -->

    <main>
        <!--FORMULARIO-->
        <section class="userprofile-form">
            <form action="/registro" method="POST" class="userprofile-formulario">
                <h4>Perfil</h4>
                <p>
                    <i class="fas fa-at"></i><label> Email:</label></i>
                    <p><%= usuarioInfo.email %></p>
                    </label>
                </p>

                <div class="userprofile-items">
                    <p>
                        <i class="fas fa-id-badge"></i><label> Nombre:</label></i>
                        <p><%= usuarioInfo.nombre %></p>
                    </p>

                    <p>
                        <i class="fas fa-id-badge"><label> Apellido:</label></i>
                        <p><%= usuarioInfo.apellido %></p>
                    </p>

                    <p>
                        <i class="fas fa-camera"><label> Foto de perfil:</label></i>
                        <img src="/images/usersAvatars/resizedandcropped/<%= usuarioInfo.userAvatar %>" width=100px alt="fotoPerfil">
                    </p>

                    <p>
                        <i class="fas fa-music"><label>Biografia</label><br></i>
                        <p><%= usuarioInfo.bio %></p>
                    </p>

                    <p>
                        <label> Habilidades</label></i>
                        <p><%= usuarioInfo.skills %></p>

                    <section>
                        <a href='/user/userprofile/<%= usuarioInfo.id %>/edit' class="userprofile-button">Editar perfil </a>
                    </section>

                </div>
            </form>


            <form action="" class="userprofile-formulario">
                <h4>Mis anuncios</h4>

                <p class="userprofile-Registro-Texto-Descriptivo">
                    Informa que tipo de anuncio quieres crear y completalo:<br>
                </p>

                <section class="userprofile-crearanuncios">
                    <a href="/products/createproduct" class="userprofile-venderproducto-button">Instrumento </a>

                    <a href="/products/createsong" class="userprofile-vendercancion-button">Canción </a>
                </section>

                <div>
                    <p class="userprofile-Registro-Texto-Descriptivo">
                        Podes ver, editar y crear tus anuncios desde aqui.<br>
                    </p>

                    <table class="userprofile-tableanuncios">
                        <tr>
                            <th>Anuncio</th>
                            <th>Descripción</th>
                            <th>Actualización</th>
                        </tr>

                        <% anuncioUser.forEach(function(anuncio, indice){ %>

                        <tr>
                            <td><%= indice+1 %> </td>
                            <td><%= anuncio.titulo %> </td>
                            <td>Eliminar | Editar</td> <!-- VER DE APLICAR <a></a> -->
                        </tr>
                        <% }) %>

                    </table>

                </div>

            </form>

        </section>

    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>
</body>

</html>