<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarAlex.ejs', {}) %>


    <!-- ======= BODY | CUERPO DEL USERPROFILE ========= -->

    <main class="userprofile-form">
        <!--FORMULARIO-->
        <section>

            <h4>Edita los datos de tu perfil</h4>
            <div class="userprofile-formulario">
                <p class="userprofile-editAvatar-section">
                    <!-- <i class="fas fa-camera"><label> Foto de perfil:</label></i> -->
                    <img src="/images/usersAvatars/resizedandcropped/<%= usuarioInfo.userAvatar %>" alt="fotoPerfil">
                </p>


                <div class="userprofile-items">
                    <p>
                        <i class="fas fa-at"><label> Email:</label></i>
                        <%= usuarioInfo.email %>
                    </p>
                    <p>
                        <i class="fas fa-id-badge"><label> Nombre:</label></i>
                        <%= usuarioInfo.nombre %> <%= usuarioInfo.apellido %>
                    </p>

                    <!--<p>
                        <i class="fas fa-id-badge"><label> Apellido:</label></i>
                        <%= usuarioInfo.apellido %>
                    </p>-->

                    <p>
                        <i class="fas fa-music"><label>Biografía:</label><br></i>
                        <%= usuarioInfo.bio %>
                    </p>

                    <p>
                        <i class="fas fa-microphone-alt"><label> Habilidades:</label></i>
                        <%= usuarioInfo.skills %>

                        <section>
                            <a href='/user/userprofile/<%= usuarioInfo.id %>/edit' class="userprofile-button">Editar
                                perfil </a>
                        </section>

                </div>
            </div>


            <div class="userprofile-formulario2">
                <h4>Mis anuncios</h4>

                <p class="userprofile-Registro-Texto-Descriptivo">
                    Informá qué tipo de anuncio quieres crear y completalo:<br>
                </p>

                <section class="userprofile-crearanuncios">
                    <a href="/products/createproduct" class="userprofile-venderproducto-button">Instrumento </a>

                    <a href="/products/createsong" class="userprofile-vendercancion-button">Canción </a>
                </section>

                <div>
                    <% if (songsUser.length > 0 || instrumentUser.length > 0) { %>
                    <p class="userprofile-Registro-Texto-Descriptivo">
                        Podes ver, editar y crear tus anuncios desde aquí.<br>
                    </p>
                    <% } %>
                    <% if (songsUser.length > 0) { %>
                    <form id="userProfile-tablaCancion"
                        action="/user/mySongs/delete/<%= usuarioInfo.id %>?_method=DELETE" method="POST">

                        <table class="userprofile-tableanuncios user-productsTable">
                            <p>Mis Canciones</p>
                            <tr>
                                <th>Anuncio</th>
                                <th>Descripción</th>
                                <th>Eliminar</th>
                            </tr>

                            <% songsUser.forEach(function(songUsuario, indice){ %>

                            <tr>
                                <td><%= indice+1 %> </td>
                                <td><a
                                        href="/products/detailSong/<%= songUsuario.songId %>"><%= songUsuario.titulo %></a>
                                </td>
                                <td><input id="userProfile-eliminarCancion" type="checkbox" name="eliminarCancion"
                                        value="<%= songUsuario.songId %>"></td>
                            </tr>
                            <% }) %>
                        </table>
                        <button type="submit" id="userprofile-eliminarcancion" class="userprofile-eliminar-button">Eliminar selección</button>
                    </form>
                    <% } %>

                    <% if (instrumentUser.length > 0) { %>
                    <form action="/user/myInstruments/delete/<%= usuarioInfo.id %>?_method=DELETE" method="POST">
                        <table class="userprofile-tableanuncios  user-productsTable">
                            <p>Mis Instrumentos</p>
                            <tr>
                                <th>Anuncio</th>
                                <th>Descripción</th>
                                <th>Eliminar</th>
                            </tr>

                            <% instrumentUser.forEach(function(instrumentoUsuario, indice){ %>

                            <tr>
                                <td><%= indice+1 %> </td>
                                <td><a
                                        href="/products/detailInstrument/<%= instrumentoUsuario.InstrumId %>"><%= instrumentoUsuario.titulo %></a>
                                </td>
                                <td><input id="userProfile-eliminarInstrumento" type="checkbox"
                                        name="eliminarInstrumento" value="<%= instrumentoUsuario.InstrumId %>"></td>

                            </tr>
                            <% }) %>

                        </table>
                        <button type="submit" id="userprofile-eliminarInstrumento" class='userprofile-eliminar-button'>Eliminar selección</button>
                    </form>
                    <% } %>

                </div>

            </div>

        </section>

    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>
    <script src="/js/userprofile.js"></script>
</body>

</html>