<!DOCTYPE html>
<html lang="es">
<STYLE>
    button a {
        text-decoration: none;
        color: #004d61;
        ;
    }
</STYLE>

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarAlex.ejs', {}) %>


    <!-- ======= BODY | CUERPO DEL USERPROFILE ========= -->

    <main class="userprofile-form">
        <!--FORMULARIO-->
        <section class="userprofile-formulario">
            <form action="/user/userprofile/<%= usuarioInfo.id %>/edit?_method=PUT" method="POST"
                class="userprofile-formulario" enctype="multipart/form-data">
                <!--Adicionado soporte para multer -->
                <h4>Editá tu perfil de usuario</h4>
                <div>
                    <p class="userprofile-Texto-Descriptivo">
                        Puedes editar tu perfil de usuario y publicar tus anuncios desde aquí.<br>
                    </p>
                </div>

                <p class="userprofile-editAvatar-section">
                    <!-- <i class="fas fa-camera"><label> Foto de perfil:</label></i> -->
                    <img src="/images/usersAvatars/resizedandcropped/<%= usuarioInfo.userAvatar %>"
                        id="userprofileedit-photo" alt="fotoPerfil">
                    <label for='userAvatarButton' class="userAvatarButton">Cargá una imagen</label>
                    <input class="userAvatarButton" type="file" name="userAvatarButton" id="userAvatarButton"
                        value="<%= usuarioInfo.userAvatar %>">
                </p>

                <p>
                    <i class="fas fa-at"><label> Email:</label></i>
                    <input value="<%= usuarioInfo.email %>" type="email" name="email" id="email" placeholder="Tu email">
                    </label>
                </p>

                <div class="userprofile-items">
                    <p>
                        <i class="fas fa-id-badge"></i><label> Nombre:</label></i>
                        <input value="<%= usuarioInfo.nombre %>" class="userprofile-datos" type="text" name="nombre"
                            id="nombre" placeholder="Editá tu nombre"><i class="fas fa-user-edit"></i>
                    </p>

                    <p>
                        <i class="fas fa-id-badge"><label> Apellido:</label></i>
                        <input value="<%= usuarioInfo.apellido %>" class="userprofile-datos" type="text" name="apellido"
                            id="apellido" placeholder="Editá tu apellido"><i class="fas fa-user-edit"></i>
                    </p>

                    <p>
                        <i class="fas fa-key"><label> Contraseña:</label></i>
                        <input class="userprofile-datos" type="password" name="password" id="password"
                            placeholder="Editá tu contraseña"><i class="fas fa-user-edit"></i>
                    </p>


                    <p>
                        <i class="fas fa-music"><label> Editá tu minibio en menos de 140 caracteres</label><br></i>
                        <textarea class="userprofile-datos" name="minibio" rows="3"
                            maxlength="140"><%= usuarioInfo.bio %></textarea><i class="fas fa-user-edit"></i>
                    </p>


                    <p>
                        <i class="fas fa-microphone-alt"><label> Cuáles son tus habilidades musicales?</label></i>
                        <select class="skills-form" name="skills">
                            <% habilidades.forEach(function(skill){ %>
                            <option value=<%= skill %> <% if (skill == usuarioInfo.skills){%>selected <% } %>>
                                <%= skill %></option>
                            <% }) %>
                        </select>
                        <i class="fas fa-user-edit"></i>
                    </p>
                </div>
                <section class="userprofile-edit-button-container">
                    <button type="submit" class="userprofile-edit-button">Salvar</button>
                    <button type="submit" class="userprofile-edit-button"><a
                            href="/user/userprofile/<%= usuarioInfo.id %>">Cancelar</a></button>
                </section>
            </form>
        </section>

    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>
    <script src="/js/userprofileedit.js"></script>
</body>

</html>