<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head.ejs")%>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <!-- ======= HEADER | BARRA DE NAVEGACION HOME ========= -->

    <%- include ('partials/navbarAlex.ejs', {}) %>


    <!-- ======= BODY | CUERPO DEL USERPROFILE ========= -->

    <main class="userprofile-form">
        <!--FORMULARIO-->
        <section>
            <h4>Perfil</h4>
            <div class="userprofile-formulario">
                <p class="userprofile-editAvatar-section">
                    <!-- <i class="fas fa-camera"><label> Foto de perfil:</label></i> -->
                    <img src="/images/usersAvatars/resizedandcropped/<%= usuarioInfo.userAvatar %>" alt="fotoPerfil">
                </p>



                <div class="userprofile-items">
                    <p>
                        <i class="fas fa-at"><label> Email:</label></i>
                        <%= usuarioInfo.email %>
                    </p>

                    <p>
                        <i class="fas fa-id-badge"><label> Nombre:</label></i>
                        <%= usuarioInfo.nombre %> <%= usuarioInfo.apellido %>
                    </p>
                    
                    <!--<p>
                        <i class="fas fa-id-badge"><label> Apellido:</label></i>
                        <%= usuarioInfo.apellido %>
                    </p>-->

                    <p>
                        <i class="fas fa-music"><label>Biografía:</label><br></i>
                        <%= usuarioInfo.bio %>
                    </p>

                    <p>
                        <i class="fas fa-microphone-alt"><label> Habilidades:</label></i>
                        <%= usuarioInfo.skills %>
                </div>
            </div>


            <form action="" class="userprofile-formulario2">
                <h4>Anuncios de <%= usuarioInfo.nombre %> <%= usuarioInfo.apellido %> </h4>

                <div>
                    <% if (songsUser.length > 0) { %>
                    <table class="userprofile-tableanuncios user-productsTable">
                        <p>Sus Canciones</p>
                        <tr>
                            <th>Anuncio</th>
                            <th>Descripción</th>
                        </tr>

                        <% songsUser.forEach(function(songUsuario, indice){ %>

                        <tr>
                            <td><%= indice+1 %> </td>
                            <td><a href="/products/detailSong/<%= songUsuario.songId %>"><%= songUsuario.titulo %></a>
                            </td>
                        </tr>
                        <% }) %>

                    </table>
                    <% } %>

                    <% if (instrumentUser.length > 0) { %>
                    <table class="userprofile-tableanuncios  user-productsTable">
                        <p>Sus Instrumentos</p>
                        <tr>
                            <th>Anuncio</th>
                            <th>Descripción</th>
                        </tr>

                        <% instrumentUser.forEach(function(instrumentoUsuario, indice){ %>

                        <tr>
                            <td><%= indice+1 %> </td>
                            <td><a
                                    href="/products/detailInstrument/<%= instrumentoUsuario.InstrumId %>"><%= instrumentoUsuario.titulo %></a>
                            </td>
                        </tr>
                        <% }) %>

                    </table>
                    <% } %>


                </div>

            </form>

        </section>

    </main>

    <!-- ======= FOOTER | PIE DE PAGINA ========= -->

    <%- include ('partials/footer.ejs', {}) %>
</body>

</html>